
@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);

}

@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto/Roboto-Bold.ttf);
  font-weight: bold;
}



.intl-tel-input.allow-dropdown input,
.intl-tel-input.allow-dropdown input[type=text],
.intl-tel-input.allow-dropdown input[type=tel] {
  height: 3.5rem;
  width: 28rem;
  margin-bottom: 1rem !important;
  border-radius: 5px;
  border: 1px solid rgb(182, 181, 181);
}

html > body {
  margin: 0;
  font-family: Roboto;
  overflow:  hidden;
}

.root{display: flex;}

.stepForm{
  width: 100%;
  max-height: 100vh;
}

.multiStepForm{
  width: 100%;

}

.stepFormUnderStepper{
  height: 100%;
  overflow: hidden;
}

.formEmail{
  padding-top: 60vh;
}

.formTerms{
  padding-bottom: 35vh;
}

@keyframes fadeinout{
  0%{opacity: 1}
  50%{opacity:0}
  100%{opacity:1}
}

.root .MuiStepIcon-root.MuiStepIcon-active{
  color: red;
}

.root .MuiStepIcon-root.MuiStepIcon-completed{
  color: green;
}

.homeLeft{
  display: flex;
  width: 50% !important;
  
  justify-content: flex-end;
  background-image:
    linear-gradient(45.96deg, rgba(0, 220, 255, 0.25) 0%, rgba(255, 255, 255, 0.25) 99.33%),
    linear-gradient(220.47deg, rgba(0, 220, 255, 0.25) -108.16%, rgba(29, 247, 124, 0.25) -8.16%),
    url('./assets/teamfoto.png');
  height: 100vh;
  max-height: 100vh;
}

.homeRight{
  width: 50%;
  max-height: 100vh;
  background-image: url('./assets/background.png');
  background-position: top right;
  background-repeat: no-repeat;
}

.leftText{
  height: 12rem;
  width: 24rem;
  margin-top: 60vh;
  background-color: #19304E;
  border-radius: 0.5rem 0 0 0.5rem;
}

.leftText h1 {
  text-align: left;
  padding-left: 6rem;
  padding-top: 1rem;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
}

.radioButtons{
  margin-bottom: 0.8rem;
}

.checkBoxes{
  margin-bottom: 0.8rem;
}

.radioButtons input[type="radio"] {
  display: none;
}

.radioButtons label {
  box-sizing: border-box;
  display: inline-block;
  padding: 1rem;
  font-family: Arial;
  font-size: 16px;
  cursor: pointer;
  margin: 0.2rem;
  width: 24%;
  border: 1pt solid #959595;
  border-radius: 0.25rem;
}

.radioButtons input[type="radio"]:checked+label {
  background-color: #3A79FF;
  border: 1pt solid #3A79FF;
}

.nextBtn{
  width: 50%;
  height: 3rem;
  background: #3A79FF !important;
  color: #fff !important;
  margin-bottom: 1rem !important;
}

.nextBtn:hover, .backBtn:hover{
  color: #3A79FF;
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}

.disabledBtn{
  background: lightgray !important;
  width: 50%;
  height: 3rem;
  margin-bottom: 1rem !important;
}

.backBtn{
  width: 50%;
  height: 3rem;
  background: lightblue !important;
  color: white !important;
  margin-bottom: 1rem !important;
}

.logInSignUp{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.logInSignUp .mainContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.logInSignUp button{
  font-family: Roboto;
  font-size: 1.5rem;
  color: #19304E;
  width: 100%;
  padding: 1.8rem 1.8rem 1.8rem 5rem;
  justify-content: flex-start;
}

.formRegister, .formHome{
  width: 100%;
  max-height: 100vh;
  display: flex;
  align-items: center;
}

.formRegister .mainContainer, .formHome .mainContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 120vh;
  margin-left: 2rem;
}

.formRegister .mainContainer h5, .formHome .mainContainer h5{
  width: 80%;
  text-align: left !important;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.registerButton{
  width: 80%;
  height: 3rem;
  background: #3A79FF !important;
  color: white !important;
}

.registerButtonDisabled{
  width: 80%;
  height: 3rem;
  background: lightgray !important;
  color: white !important;
}

.managerTeamMember{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.managerTeamMember .mainContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.managerTeamMember button{
  font-family: Roboto;
  font-size: 1.5rem;
  color: #19304E;
  width: 100%;
  padding: 0rem 0rem 0rem 5rem;
  justify-content: flex-start;
}

.managerParagraph{
  padding: 0.8rem 2.8rem;
  border-radius: 0.5rem;
  background-color: #3A79FF;
  font-size: 1.2rem;
  color: white;
}

.teamMemberParagraph{
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 5pt solid #3A79FF;
  font-size: 1.2rem;
  color: #3A79FF;
}

.logo{
  position: absolute;
  left: 2rem;
  top: 2rem;
}

.MuiTextField-root{
  background-color: rgba(255, 255, 255, 0.6);
}

.emailinput{
  display: flex;
}

@media only screen and (max-width: 768px) {
  /*.homeLeft{
    visibility: hidden !important;
    display: none !important;
  }*/

  .logo{
    z-index: 3;
    top: 4rem;
    left: 0.5rem;
  }

  .homeLeft{
    position: absolute;
    top: 0;
    height: 20vh;
    background-color: #19304E;
    background-image: none;
    z-index: 2;
  }

  .leftText h1{
    visibility: hidden;
  }

  .homeRight{
    width: 100%;
    z-index: 1;
  }

  .radioButtons label{
    width: 45%;
  }
}

.pageContent{
  width: 85%;
}

.platform{
  display: flex;
}

.domain{
  color: #19304E;
  font-family: Poppins;
}

.homeForm{
  justify-content: center;
  position: relative;
  z-index: 5;
}

.homeLeftCircle{
  margin-left: 4rem;
  margin-top: -2rem;
  width: 4rem;
  height: 4rem;
}

.titanic{
  width: 100%
}

.titanicDashboard{
  width: 100%;
  height: 45rem;
}